[submodule "RMI"]
	path = RMI
	url = https://github.com/learnedsystems/RMI
[submodule "competitors/FST"]
	path = competitors/FST
	url = https://github.com/Christoph-Maximilian/FST
[submodule "competitors/PGM-index"]
	path = competitors/PGM-index
	url = https://github.com/gvinciguerra/PGM-index
[submodule "fast64"]
	path = fast64
	url = https://github.com/RyanMarcus/fast64.git
[submodule "wormhole"]
	path = wormhole
	url = https://github.com/wuxb45/wormhole.git
